@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rakkas:regular&display=swap);
@import "../style/variables.scss";

* {
    font-family: "Roboto", sans-serif;
    color: $grey;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    color: $orange;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

.app {
    font-family: Roboto;
    font-size: 24px;

    &__content {
        margin: 15px auto;
        display: flex;
        width: 1470px;
        color: $main-color;
    }

    &__main {
        width: 956px;
        margin: 110px 123px 0 123px;
    }
}

.btn-group {
    margin: 30px 0;
    display: flex;
    justify-content: end;
}

.btn {
    width: 200px;
    background: none;

    text-align: center;
    font-size: 24px;
    line-height: 48px;
    border: none;
    outline: none;
    color: $light-highlight;

    &__bold {
        color: $dark-highlight;
    }

    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}